%table.table.table-striped.table-condensed
  %thead
    %th
      %td
        = t('raindrops.activerecord.attributes.raindrops/download.source_url')
      %td
        = t('raindrops.activerecord.attributes.raindrops/download.destination_path')
      %td
        = t('raindrops.activerecord.attributes.raindrops/download.file_total_size')
      %td
        = t('raindrops.activerecord.attributes.raindrops/download.file_downloaded_size')
      %td
        = t('raindrops.activerecord.attributes.raindrops/download.completed')