%table.table.table-striped.table-condensed
  %thead
    %tr
      %th
        = t('raindrops.activerecord.attributes.raindrops/download.source_url')
      %th
        = t('raindrops.activerecord.attributes.raindrops/download.destination_path')
      %th
        = t('raindrops.activerecord.attributes.raindrops/download.progress')
      %th
        = t('raindrops.activerecord.attributes.raindrops/download.file_total_size')
      %th
        = t('raindrops.activerecord.attributes.raindrops/download.file_downloaded_size')
      %th
        = t('raindrops.global.actions')
  %tbody
    - @downloads.each do |download|
      %tr{class: ('success' if download.completed?)}
        %td
          = download.source_url
        %td
          = download.destination_path
        %td
          = "#{download.progress} %"
        %td
          = number_to_human_size download.file_size
        %td
          = number_to_human_size download.bytes_downloaded
        %td
          - if download.completed?
            = link_to download_path(download), method: :delete, class: 'btn btn-xs btn-primary' do
              %span.glyphicon.glyphicon-eject
              = t('raindrops.global.remove')

= render partial: 'form'