%table.table.table-striped.table-condensed.downloads
  %thead
    %tr
      %th.download-name
        = t '.download_file_name'
      %th.download-progress
        = t 'raindrops.activerecord.attributes.raindrops/download.progress'
      %th.download-status
      %th.download-actions
        = t 'raindrops.global.actions'
  %tbody
    - @downloads.each do |download|
      %tr{class: ('success' if download.completed?), id: "download-#{download.id}"}
        %td
          = File.basename download.source_url
        %td
          .progress
            .progress-bar.progress-bar-striped.active{style: "width: #{download.progress}%;"}
              %span.sr-conly
                = "#{download.progress}%"
        %td.download-status
          = "#{number_to_human_size download.bytes_downloaded} / #{number_to_human_size download.file_size}"
        %td
          - if download.completed?
            = link_to download_path(download), method: :delete, class: 'btn btn-xs btn-primary' do
              %span.glyphicon.glyphicon-eject
              = t('raindrops.global.remove')

    %template.download-row#template-download
      %tr
        %td
        %td
          .progress
            .progress-bar.progress-bar-striped.active{style: 'width: 0%;'}
              %span.sr-conly= '0%'
        %td
        %td

= render partial: 'form'