%table.table.table-striped.table-condensed
  %thead
    %tr
      %th
        = t('raindrops.activerecord.attributes.raindrops/download.source_url')
      %th
        = t('raindrops.activerecord.attributes.raindrops/download.destination_path')
      %th
        = t('raindrops.activerecord.attributes.raindrops/download.progress')
      %th
        = t('raindrops.activerecord.attributes.raindrops/download.file_total_size')
      %th
        = t('raindrops.activerecord.attributes.raindrops/download.file_downloaded_size')
  %tbody
    - @downloads.each do |download|
      %tr
        %td
          = download.source_url
        %td
          = download.destination_path
        %td
          = "#{download.progress} %"
        %td
          = number_to_human_size download.file_total_size
        %td
          = number_to_human_size download.file_downloaded_size

= render partial: 'form'