!!!
%html
  %head
    %title Raindrops
    %meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1.0' }
    = stylesheet_link_tag :'raindrops/application', :media => 'all'
    = csrf_meta_tags

  %body
    .container-fluid
      .row.no-margin

        - if !notice.nil?
          %div.alert.alert-success= notice

        - if !alert.nil?
          %div.alert.alert-danger= alert

        .container-fluid
          = yield

    %footer
      %p= "Raindrops #{Raindrops::VERSION}"

    = javascript_include_tag :application
    = javascript_include_tag :'raindrops/application'